<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zolipe.communitycensus">

    <uses-sdk tools:overrideLibrary="gr.escsoft.michaelprimez.searchablespinner" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- GallerySender -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.CensusApp"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.LoginSignupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:parentActivityName=".activity.LoginSignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.LoginSignupActivity" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dda698c576d922ace47a93daf38d789444ac71c9" />

        <activity
            android:name=".activity.EditProfile"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AddSupervisor"
            android:label="@string/title_activity_add_supervisor"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AddMember"
            android:label="@string/title_activity_add_member"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".permissions.PermissionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.FamilyMembers"
            android:label="@string/title_activity_family_members"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.FamilyDetailsActivity"
            android:label="Family Details"
            android:parentActivityName=".activity.FamilyMembers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.FamilyMembers" />
        </activity>
        <activity
            android:name=".activity.AddFamilyMember"
            android:label="@string/title_activity_add_family_member"
            android:parentActivityName=".activity.FamilyDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.FamilyDetailsActivity" />
        </activity>
        <activity
            android:name=".activity.TelegramBroadcast"
            android:label="@string/title_activity_telegram_broadcast"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SupervisorDetail"
            android:label="@string/title_activity_supervisor_detail"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.ViewMember"
            android:label="@string/title_activity_view_member"
            android:parentActivityName=".activity.FamilyDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zolipe.communitycensus.activity.FamilyDetailsActivity" />
        </activity>
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <receiver
            android:name=".util.CensusReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".util.CensusService"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />

        <activity android:name=".activity.ErrorActivity"></activity>
    </application>

</manifest>